:host{
    /*layout*/
    display: flex;
    gap: 16px;
    /**/
    

}

.title{
    /* visual */
    font-size: 32px;
    color: #444746;
    
}

.ntasks{
    /* visual*/
    font-size: 32px;
    color: #9E9E9E;
}